body {
background-image:  linear-gradient(30deg, #363c6a 12%, transparent 12.5%, transparent 87%, #363c6a 87.5%, #363c6a), linear-gradient(150deg, #363c6a 12%, transparent 12.5%, transparent 87%, #363c6a 87.5%, #363c6a), linear-gradient(30deg, #363c6a 12%, transparent 12.5%, transparent 87%, #363c6a 87.5%, #363c6a), linear-gradient(150deg, #363c6a 12%, transparent 12.5%, transparent 87%, #363c6a 87.5%, #363c6a), linear-gradient(60deg, rgba(54,60,106,0.5) 25%, transparent 25.5%, transparent 75%, rgba(54,60,106,0.5) 75%, rgba(54,60,106,0.5)), linear-gradient(60deg, rgba(54,60,106,0.5) 25%, transparent 25.5%, transparent 75%, rgba(54,60,106,0.5) 75%, rgba(54,60,106,0.5));
background-size: 150px 262.5px;
background-position: 0 0, 0 0, 75px 131.25px, 75px 131.25px, 0 0, 75px 131.25px;
background-color: #579bb2;
}
/* CHECKBOX TOGGLE SWITCH */
/* @apply rules for documentation, these do not work as inline style */
.toggle-checkbox:checked {
  @apply: right-0 border-green-400;
  right: 0;
  transition: .5s;
  border-color: #4338ca;
}
.toggle-checkbox:checked + .toggle-label {
  @apply: bg-green-400;
  transition: .5s;
  background-color: #4338ca;
}
.animate {
  border-bottom: 5px solid;
  border-radius: 100%;
  transition: .5s;
  animation: animate 5s linear infinite;
}
.scale{
  cursor: pointer;
  transform: rotate(360deg);
}
#img:hover {
  cursor: pointer;
  transition: .5s;
  transform: scale(1.1);
}
@keyframes animate {
  0% {
    border-color: green;
  }
  20% {
    border-color: red;
  }
  40% {
    border-color: purple;
  }
  60% {
    border-color: orange;
  }
  80% {
    border-color: blue;
  }
  100% {
    border-color: yellow;
  }
}